*{
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto;
    padding: 0px;
}
.field{
    margin: 0 auto;
    background-color: bisque;
    width: 700px;
    height: 700px;
}
body{
    background-color: black;

}